<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :account_id %><br />
    <%= f.collection_select(:account_id, Account.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :home %><br />
    <%= f.select :home, ['None', 'Read Only', 'Standard', 'Admin'] %>
  </div>
  <div class="field">
    <%= f.label :emails %><br />
    <%= f.radio_button :emails, 'None' %>
    <%= label_tag(:emails_none, "None") %>
    <%= f.radio_button :emails, 'Read Only' %>
    <%= label_tag(:emails_read_only, "Read Only") %>
    <%= f.radio_button :emails, 'Standard' %>
    <%= label_tag(:emails_standard, "Standard") %>
    <%= f.radio_button :emails, 'Admin' %>
    <%= label_tag(:emails_admin, "Admin") %>
  </div>
  <div class="field">
    <%= f.label :bidding %><br />
    <%= f.text_field :bidding %>
  </div>
  <div class="field">
    <%= f.label :prime_contract %><br />
    <%= f.text_field :prime_contract %>
  </div>
  <div class="field">
    <%= f.label :commitments %><br />
    <%= f.text_field :commitments %>
  </div>
  <div class="field">
    <%= f.label :change_orders %><br />
    <%= f.text_field :change_orders %>
  </div>
  <div class="field">
    <%= f.label :rfis %><br />
    <%= f.text_field :rfis %>
  </div>
  <div class="field">
    <%= f.label :submittals %><br />
    <%= f.text_field :submittals %>
  </div>
  <div class="field">
    <%= f.label :transmittals %><br />
    <%= f.text_field :transmittals %>
  </div>
  <div class="field">
    <%= f.label :punch_list %><br />
    <%= f.text_field :punch_list %>
  </div>
  <div class="field">
    <%= f.label :meetings %><br />
    <%= f.text_field :meetings %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br />
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :daily_log %><br />
    <%= f.text_field :daily_log %>
  </div>
  <div class="field">
    <%= f.label :reports %><br />
    <%= f.text_field :reports %>
  </div>
  <div class="field">
    <%= f.label :photos %><br />
    <%= f.text_field :photos %>
  </div>
  <div class="field">
    <%= f.label :drawings %><br />
    <%= f.text_field :drawings %>
  </div>
  <div class="field">
    <%= f.label :documents %><br />
    <%= f.text_field :documents %>
  </div>
  <div class="field">
    <%= f.label :directory %><br />
    <%= f.text_field :directory %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.text_field :admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
