<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @template.name %>
</p>

<p>
  <b>Home:</b>
  <%= @template.home %>
</p>

<p>
  <b>Emails:</b>
  <%= @template.emails %>
</p>

<p>
  <b>Bidding:</b>
  <%= @template.bidding %>
</p>

<p>
  <b>Prime contract:</b>
  <%= @template.prime_contract %>
</p>

<p>
  <b>Commitments:</b>
  <%= @template.commitments %>
</p>

<p>
  <b>Change orders:</b>
  <%= @template.change_orders %>
</p>

<p>
  <b>Rfis:</b>
  <%= @template.rfis %>
</p>

<p>
  <b>Submittals:</b>
  <%= @template.submittals %>
</p>

<p>
  <b>Transmittals:</b>
  <%= @template.transmittals %>
</p>

<p>
  <b>Punch list:</b>
  <%= @template.punch_list %>
</p>

<p>
  <b>Meetings:</b>
  <%= @template.meetings %>
</p>

<p>
  <b>Schedule:</b>
  <%= @template.schedule %>
</p>

<p>
  <b>Daily log:</b>
  <%= @template.daily_log %>
</p>

<p>
  <b>Reports:</b>
  <%= @template.reports %>
</p>

<p>
  <b>Photos:</b>
  <%= @template.photos %>
</p>

<p>
  <b>Drawings:</b>
  <%= @template.drawings %>
</p>

<p>
  <b>Documents:</b>
  <%= @template.documents %>
</p>

<p>
  <b>Directory:</b>
  <%= @template.directory %>
</p>

<p>
  <b>Admin:</b>
  <%= @template.admin %>
</p>


<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
