<b>Name</b>
<ul class="unstyled">
  <% if @templates %>
    <% @templates.each do |template| %>
      <li><%= template.name %></li>
    <% end %>
  <% end %>
    <%= form_for @template do |f| %>
      <li><%= f.text_field :name %></li>
      <li><%= f.submit "Add Template", :class => 'btn' %></li>
      </ul>
       <%= f.hidden_field :account_id, :value => @account.id %>
    <% end %>
