<table class="review_table table table-bordered table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>None</th>
      <th>Read Only</th>
      <th>Standard</th>
      <th>Admin</th>
    </tr>
  </thead>
<%= form_tag update_multiple_templates_path, :method => :put do %>
  <% @templates.each do |template| %>
    <%= fields_for "templates[]", template do |f| %>
        <tr>
          <td><%= template.name %></td>
    	  	<td><%= f.radio_button current_tab, 'None' %></td>
    	    <td><%= f.radio_button current_tab, 'Read Only' %></td>
    	    <td><%= f.radio_button current_tab, 'Standard' %></td>
    	    <td><%= f.radio_button current_tab, 'Admin' %></td>
        </tr>
    <% end %>
  <% end %>
  <%= hidden_field_tag :account_id, params[:account_id] %>
  <%= hidden_field_tag :tab, params[:action] %>
</table>
<br />
  <div>
      <% if params[:action] != 'admin' %>
        <%= submit_tag "Save and Next", :class => 'btn' %>
      <% else %>
        <p> Send your templates to your Account Manager! </p>
        <%= submit_tag "Save and Email", :class => 'btn' %>
      <% end %>
  </div>
<% end %>
