<table class="review_table table table-bordered table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Ninguno</th>
      <th>Solo Lectura</th>
      <th>Estandar</th>
      <th>Administrador</th>
    </tr>
  </thead>
<%= form_tag update_multiple_templates_path, :method => :put do %>
  <% @templates.each do |template| %>
    <%= fields_for "templates[]", template do |f| %>
        <tr>
          <td><%= template.name %></td>
    	  	<td><%= f.radio_button current_tab, 'Ninguno' %></td>
    	    <td><%= f.radio_button current_tab, 'Solo Lectura' %></td>
    	    <td><%= f.radio_button current_tab, 'Estandar' %></td>
    	    <td><%= f.radio_button current_tab, 'Administrador' %></td>
        </tr>
    <% end %>
  <% end %>
  <%= hidden_field_tag :account_id, params[:account_id] %>
  <%= hidden_field_tag :tab, params[:action] %>
</table>
<br />
  <div>
      <% if params[:action] != 'administrador' %>
        <%= submit_tag "Guardar y Siguiente", :class => 'btn' %>
      <% else %>
        <p> ¡Envie sus plantillas a su Gerente de Cuenta! </p>
        <%= submit_tag "Guardar y Enviar", :class => 'btn' %>
      <% end %>
  </div>
<% end %>
