<%= form_for(@account) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :admin_id, "Account Manager" %>
    <%= f.collection_select(:admin_id, Admin.all, :id, :full_name, :prompt => 'Select')%>
  </div>
  <div class="actions">
    <%= f.submit "Next", :class => "btn" %>
  </div>
<% end %>
